<header th:replace="partials/header" />

	<section>
		<div class="container" style="width: 60%; padding-bottom: 30px;">
			<h4>Tela de Login - <thcontent th:text="${title}"></h4>
			<p>Para ter acesso á página é preciso acesso permitido.</p>
			<br>
			<div th:if="${param.error}" class="alert alert-error">
				Usuário e senha inválidos
			</div>
			<div th:if="${param.logout}" class="alert alert-info">
				Você se deslogou.
			</div>
			<table border="0">
				<form method="post" th:action="@{/login}">
					<tr>
						<td>
							<input type="text" name="username" class="form-control" placeholder="Usuário" autofocus/>
						</td>
					</tr>
					<tr>
						<td>
							<input type="password" name="password" class="form-control" placeholder='****' />
						</td>
					</tr>
					<tr>
						<td>
							<br>
							<button type="submit" class="btn btn-primary">Entrar</button>
						</td>
					</tr>
				</form>
			</table>
		</div>
	</section>
	
<footer th:replace="partials/footer" />