<header th:replace="partials/header" />

<section>
	<div class="container" style="width: 60%; padding-bottom: 30px;">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page"><thcontent
						th:text="'Postagens de ' + ${title}" /></li>
			</ol>
		</nav>
		<div th:each="post: ${posts}" class="card shadow-sm bg-white rounded"
			style="margin-top: 20px;">
			<div class="card-body">
				<p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
					<thcontent th:text="${post.autor}" />
					| <thcontent th:text="${post.data}" />
				</p>
				<hr>
				<a th:href="'post/'+${post.id}" style="color:black; font-weight:bold; text-decoration:none;">
					<h4 class="card-title">
						<thcontent th:text="${post.titulo}" />
					</h4>
				</a>

				<p class="card-text">
					<span th:utext="${#strings.abbreviate(post.texto,400)} "></span>
				</p>
			</div>
		</div>

	</div>
</section>

<footer th:replace="partials/footer" />
