<header th:replace="partials/header" />

<section>
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item" aria-current="page">Posts</li>
				<li class="breadcrumb-item active" aria-current="page">Novo
					post</li>
			</ol>
		</nav>

		<div>
			<form method="post">
				<div class="form-group">
					<input type="text" class="form-control" name="titulo"
						placeholder="Título *">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="autor"
						placeholder="Autor *">
				</div>

				<textarea id="summernote" type="text" class="form-control"
					name="texto" placeholder="Texto *"></textarea>

				<small class="form-text text-muted">(*) Campos obrigatórios</small>

				<button type="submit" class="btn btn-primary"
					style="margin-top: 10px;">Publicar</button>
				<a href="/posts" class="btn btn-light" role="button"
					style="margin-top: 10px;">Cancelar</a>
				<!--<button type="submit" class="btn" style="margin-top: 10px;">Cancelar</button>-->
			</form>
		</div>

	</div>
</section>

<footer th:replace="partials/footer" />