<header th:replace="partials/header" />

<section>
	<div class="container" style="width: 60%; padding-bottom: 30px;">
		<div class="card shadow-sm bg-white rounded" style="margin-top: 20px;">
			<div class="card-body">
				<p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
					<thcontent th:text="${post.autor}" />
					|
					<thcontent th:text="${post.data}" />
				</p>
				<hr>
				<h4 class="card-title">
					<thcontent th:text="${post.titulo}" />
				</h4>

				<p class="card-text">
					<span th:utext="${post.texto} "></span>
				</p>
			</div>
		</div>
		<br>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page"><a
					href="/posts">Ver todas as postagens</a></li>
			</ol>
		</nav>
	</div>
</section>

<footer th:replace="partials/footer" />
